.bot-container{
    background-color: hsl(223, 40%, 28%);
    color: white;
    height: 6vw;
    width: 100%;
    padding-left: 25vw;
}
    .bot-container-text{
        float: left;
        color:white;
        font-weight: bold;
        font-size: 1.5vw;
        margin-left: 1vw;
        margin-top: 2vw;
    }
    a:link {
        color: white;
        text-decoration: none;
      }
      a:visited {
        color: white;
        text-decoration: none;
      }
      a:hover {
        color: white;
        text-decoration: none;
      }
      a:active {
        color: white;
        text-decoration: none;
      }